<h1>Chat</h1>
<% if session[:chatHistory] && session[:chatHistory][session[:user_id]] %>
  <% session[:chatHistory][session[:user_id]].each do |msg| %>
    <div>
      <pre><%= Time.at(msg[:time].to_i).strftime('%Y-%m-%d %H:%M:%S') + ' ' + msg[:role].to_s + '说:' + msg[:content] %></pre>
    </div>
  <% end %>
<% end %>

<%= form_with url: chat_path, local: true do |f| %>
  <div class="field">
    <%= f.text_area :message, required: true, id: 'chat-textarea' %>
  </div>
  <div class="actions">
    <%= f.submit "发送" %>
  </div>
<% end %>




